
.vs/Direct.WebOPS.Library/v16/Server/sqlite3/storage.ide-wal
.vs/Direct.WebOPS.Library/v16/Server/sqlite3/storage.ide-wal
Direct.WebOPS.Library/bin/Debug/Direct.Interface.dll
Direct.WebOPS.Library/bin/Debug/Direct.Shared.dll
Direct.WebOPS.Library/bin/Debug/Direct.Shared.Library.dll
Direct.WebOPS.Library/bin/Debug/Direct.WebServiceProxy.dll
Direct.WebOPS.Library/bin/Debug/log4net.dll
Direct.WebOPS.Library/bin/Debug/Microsoft.mshtml.dll
Direct.WebOPS.Library/bin/Debug/Microsoft.Web.Services2.dll
Direct.WebOPS.Library/bin/Debug/Newtonsoft.Json.dll
Direct.WebOPS.Library/bin/Debug/RESTSender.dll
Direct.WebOPS.Library/obj/Debug/Direct.WebOPS.Library.csprojAssemblyReference.cache
.vs/Direct.WebOPS.Library/v16/.suo
.vs/Direct.WebOPS.Library/v16/Server/sqlite3/storage.ide
.vs/Direct.WebOPS.Library/v16/Server/sqlite3/storage.ide-shm
.vs/Direct.WebOPS.Library/v16/Server/sqlite3/storage.ide-wal
Direct.WebOPS.Library/obj/Debug/Direct.WebOPS.Library.csprojAssemblyReference.cache
